@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

@media only screen and (min-width: 60em) {

  html {
    font-size: 110%;
  }

}

@media only screen and (min-width: 90em) {

  html {
    font-size: 120%;
  }

}

@media only screen and (min-width: 120em) {

  html {
    font-size: 130%;
  }

}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

a:link,
a:active {
    outline: none;
}

a:focus {
	outline: 3px solid #000;
}

.skip-links {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.skip-links a {
	padding: 0.5em 0.75em;
	position: absolute;
	top: -3em;
    background-color: #000;
    color: #fff;
	font-size: 1.125em;
	font-weight: bold;
	text-decoration: none;
}

.skip-links a:focus {
	top: 0;
}

.img-flex {
  display: block;
}

.masthead {
  overflow: hidden;
}

.title {
  text-align: center;
  color: #ffff00;
}

.nav {
  padding: 0;
}

.nav li {
  display: block;
}

.nav a,
.nav a:link,
.nav a:visited {
  display: block;
  color: #add8e6;
  text-decoration: none;
}

.nav a:hover,
.nav a:focus,
.nav a:active
.nav .nav-current,
.nav .nav-current:link,
.nav .nav-current:visited {
  background-color: #2080a0;
  color: yellow;
}

.section-dark {
  background-image: url(../images/banner.jpg);
  background-size: 300rem;
  background-repeat: no-repeat;
  background-position:top
}

.section-mid {
 
}

.section {
  background-color: white;
}

.section-bottom {
  background-image: url(../images/banner.jpg);
  background-size: 300rem;
}
.intro {
  text-align: center;
}

.discovery-title-extra {
  display: none;
}

.copyright { 
  text-align: center;
  color: yellow;
  padding-bottom: 1em;
}

.logo {
    width: 3.6rem;
    height: auto;
    margin: 0.4rem 1.5%;
}

.logo-wrap {
    text-align: center;
}
    
@media only screen and (min-width: 25em) {

  .nav {
    text-align: center;
  }

  .nav li {
    display: inline-block;
  }

  .nav-footer a,
  .nav-footer a:link,
  .nav-footer a:visited {
    display: inline-block;
    color: #add8e6;
   
}

  .nav-footer li::after {
    content: "·";
    display: inline-block;
    width: 0.5em;
    color: #add8e6;
    text-align: right;
  }

 .discovery-title-extra {
    display: inline;
  }

@media only screen and (min-width: 38em) {
    
  .logo-wrap {
    text-align: left;
}

  .title,
  .nav {
    text-align: left;
  }

  .discovery-text {
    padding-right: 1.5rem;
  }

  .copyright {
    text-align: left;
  }

  .nav-footer {
    text-align: right;
  }

      
}
    
@media only screen and (min-width: 60em) {
    
      

.logo-wrap { 
    text-align: left;
}
    
  .stats {
    overflow: hidden;
  }

  .stats > dt {
    clear: left;
    float: left;
    margin-right: 0.75rem;
    width: 11em;
  }

  .stats > dd {
    float: left;
  }

  .discovery-text {
    padding-left: 1.5rem;
  }

}

.radio {
    white-space: nowrap;
}

label {
    display: block;
    
}

input + label {
    display: inline-block;
}
.name,
.email {
    width: 80%;
     font-size: 1.5em;
}

.field {
    width: 80%;
    font-size: 1.5em;
}

textarea {
    width: 80%;
    height: 10em;
}    
    
Legend {
    width: 80%;
}

button{
font-size: 0.7em;
text-align: center;
background-color: #003366;
color: #00ffff;
}

form {
max-width: 35em;
margin: 0 auto;
}

a {
color: yellow;
text-decoration: none;
}

.table-outer {
  overflow-x: auto;
}

.table-inner {
  margin: 0 auto;
  max-width: 60em;
  min-width: 45em;
}

table {
  width: 100%;

  border-collapse: collapse;
}

th,
td {
  padding: 0.2rem;
  text-align: left;
}

thead th {
  background-color: black;
  border-bottom: 1px solid #ccc;
  
}

tbody th,
tbody td {
  border-bottom: 1px solid black;
}

th {
color: yellow;
background-color: black;
border-bottom: 1px solid #ccc;
}
        
.banner {
    position: relative;
}
.button-pos {
    position: absolute;
    bottom: 3em;
    left: 2.4em;
    color: #003366;
    background-color: #add8e6;
    padding: 1.1em;
    border-bottom-style: groove;
    border-left-style: groove;
    border-right-style: groove;
    border-top-style: groove;
    border-bottom-color: #2080a0;
    border-top-color: #2080a0; 
    border-right-color: #2080a0; 
    border-left-color: #2080a0;
}
    
.apps-icons {
    padding-top: 2em;
    
}
    
.join {
  text-align: center;
  color: yellow;
  padding-bottom: 1em;
  font-size: 1.2em
}
